<h2>Our Team</h2>
<div class="row">
    <div class="col-xs-5" *ngFor="let team of teams;">
        <a
            style="cursor: pointer;"
            class="list-group-item clearfix">
        <div class="col-xs-5">
         <h4 class="list-group-item-heading">{{ team.name }}</h4>
         <h5 class="list-group-item-text">{{ team.email }}</h5>
         <p class="list-group-item-text"> <br>{{ team.description }}</p>
         </div>
         
         <span class="pull-top">
        <img
          [src]="team.imagePath"
          alt="{{ team.name }}"
          class="img-responsive"
          style="max-height: 250px;">
      </span>
        </a>
        <hr>
    </div>
  </div>
  
  