
<body class="mat-typography">
    <h1>Hello, there!</h1>
    <h3>Welcome to our project, your number one source for your road trip. 
    </h3>
    <hr>
    <h3>We're dedicated to giving you the very best of your trip's experience, with a focus on the forecast of weather changes.
        <!-- Founded in [year] by [founder's name], [store name] has come a long way from its beginnings in a [starting location, ie: home office, toolshed, Houston, TX.]. When [store founder] first started out, his/her passion for [passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians] drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.
         -->
        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
    </h3>
    <h3>Sincerely,
    </h3>
    <h3>our team</h3>
    <!-- ... -->
  </body>

  
