div{
    font-family: "Gill Sans", sans-serif;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
textarea  
{  
   font-family:"Times New Roman", Times, serif;  
   font-size: 20px;   
}